  .heading
  {
    width: 100%;
    margin: 0px;
    box-shadow:5px 5px 5px grey;
    font-size: 23px;
    font-family: Verdana, Geneva, Tahoma, sans-serif;
    
  }
  .heading_div
  {
    background: white ; 
    border-radius: 20px; 
    color: black;
    box-shadow:5px 5px 5px grey;
    float: none;
    padding: 10px;
  }
  .heading_div2
  {
    font-size: 18px ;
    
  }
  .result_para_tag
  {
    box-shadow:5px 5px 5px grey;
    font-size: 20px;
    
  }
  .result_para_tag span{
   white-space: pre-line;

  }
  

  .copy_right_footer{
    background-color: aqua;
    position: fixed;
    bottom: 0;
    width: 100%;
    text-align: center;
    font-size: 20px;
    font-family: Cambria, Cochin, Georgia, Times, 'Times New Roman', serif;
    line-height: 2;

  }
 
  body{

align-self: center;
    text-align: center;
  }

  canvas{
    border: dotted;
    border-radius: 10px;
    margin-top: 160px;
  }
  